@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.bg-navbar {
  font-family: "Poppins";
  background-image: url("julia-solonina.png");
  background-repeat: no-repeat;
  background-size:cover;
  height: 100vh;

}
h1{
  /* font-family: "Courgette", cursive; */
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.bas{
    position: relative;
    top: 50px;
}
.distance {
    margin-top: 20%;
    margin-bottom: 7%;
}
.chute{
    position: relative;
    top: 80px;
   
}
.offer-section {
    background-image: url("Rectangle 51.png");
    /* height: 45vh; */
    
}
.offer-box {
    background: rgba(234, 227, 227, 0.7);
    /* padding: 9px; */
    border-radius: 14px;
    /* position: relative; */
    /* top: 60px; */
    height: 200px;
    margin: 10% 0 10%; 

}
.haut{
    position: relative;
    top: 30px; 
}
.separe{
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .droite{
    margin-left: 1225px;
    position: relative;
    top: -35px;
   }
.Book{
    margin-top: 15px;
    margin-bottom: 70px;
}

/* .view{
 margin-right: 10px;
} */