@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.bg-navbar {
  font-family: "Poppins";
  background: white;
  background-repeat: no-repeat;
  background-size:cover;
}
#der{
   border: none;
    background-color:  rgba(255, 255, 255,0.2);
  }

.marge{
    margin-left: 123px;
}
.steve{
    margin-left: 1230px;
    position: relative;
    top: -35px;
}
.dist{
    margin-top: 6%;
    margin-bottom: 3%;
}
.cont{
    height: 30px;
}
.get{
  width: 150px;
  height: 90px;
  margin-left: 1290px;
  position: relative;
  top: -18px;
  /* margin: 10px; */
}
.pas-de-bordure{
  border: none !important;
}