@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.bg-navbar {
  font-family: "Poppins";
  background-image: url("julia.png");
  background-repeat: no-repeat;
  background-size:cover;
  height: 100vh;
 
}
h1{
  font-family: "Courgette", cursive;
}
.bg-box-milieu {
  
  border-radius: 5px;
  padding: 1rem;
  background: linear-gradient(
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255,0.2)
);
}
#der{
  color: rgb(219, 219, 222);
  background-color:  rgba(255, 255, 255,0.2);
}
.ane{
  border: none;
  color: white;
  background-color: rgba(255, 255, 255,0.2);
}
.men{
  height: 90px;
  margin-right: 100px;
  margin: -8px;
  background-color: white;
  position: relative;
  top: 8px;
}
.contact-btn {
    background-color: orange;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}